
   
   .card-img-overlay{
       width:70%;
       height:480px;
       text-align: center;
       box-sizing: border-box;
    
       margin-left: 15%;
       margin-top: 23%;
       
   }

   .card{
       border: 200px;
   }

   #myText{
    background-color:#F0F8FF;
   }
    
    
