<div>
    <hr>
<div class="navbar navbar-light light-blue lighten-4">
 <div></div>
  <form class="form-inline md-form form-sm form-1 pl-0"> </form>

<div>
  <button type="button" class="btn btn-outline-info waves-effect" routerLink="/cars/addCar">
 <i class="fa fa-plus"> Add Car</i></button>

</div>
 
</div>

<hr>
<div class="card-deck  d-inline-block" *ngFor="let car of cars">

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img [src]="car.Img" alt="Card image cap">

      <div class="mask rgba-white-slight"></div>

    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">
        <h6 class="font-bold pb-1">
          <i class="fa fa-car" aria-hidden="true"> {{car.CarNumber}}</i>
        </h6>

        <h4 class="mb-4">
          <strong>{{car.CarType.ManufactrName}} {{car.CarType.Model}}</strong>
        </h4>
      </h4>
      <p class="card-text" *ngIf="car.IsProperForRent"><i class="fas fa-check"> Available </i></p>
      <p class="card-text" *ngIf="!car.IsProperForRent"><i class="fa fa-ban" aria-hidden="true"> Not Available</i></p>
      <p class="card-text"> <i class="fa fa-map-pin" aria-hidden="true" > {{car.Branch.BranchName}}</i></p>


      <p class="card-text badge badge-success">
        <i class="fa fa-usd" aria-hidden="true"> {{car.CarType.DailyCost}} / day</i>
      </p>

      <p class="card-text">

        <button class="btn btn-outline-info waves-effect" routerLink="/cars/{{car.CarNumber}}"><i class="fa fa-info"
            aria-hidden="true"> Details</i></button>
        <button class="btn btn-info" routerLink="/add-order" [disabled]="!car.IsProperForRent">Order</button>

      </p>

    </div>

  </div>
  <!-- Card -->


</div>
<!-- Card deck -->
</div>