<!-- Default form login -->
<div class="row d-flex justify-content-center">
<form class="text-center border border-light p-5 col-md-8 col-lg-6 col-xl-4 ">

    <p class="h4 mb-4" >Log in</p>

    <!-- Email -->
    <input type="text" id="defaultLoginFormEmail" [(ngModel)]="localUser.UserName" name="UserName" class="form-control mb-4" placeholder="User Name">

    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" [(ngModel)]="localUser.Passwd" name="Passwd" class="form-control mb-4" placeholder="Password">

    


    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" type="submit" routerLink="/home" (click)="login()">Log in</button>

    <!-- Register -->
    <p>Not a member?
        <a routerLink="/add-user">Register</a>
    </p>


    <p>or sign in with:</p>

    <i class="fa fa-facebook-official" ></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-linkedin-in"></i>


</form>
</div>