

<nav class="navbar navbar-light light-blue lighten-4">

    <img [src]="imgLink" class="navbar-brand" routerLink="/home"/>

    <div class="text-uppercase">

        <ol class="breadcrumb cyan lighten-4">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/cars">Our Cars</a></li>
            <li class="breadcrumb-item"><a routerLink="/car-types">Car Types</a></li>
            <li class="breadcrumb-item"><a routerLink="/users">Users</a></li>
            <li class="breadcrumb-item"><a routerLink="/orders">Orders</a></li>
            <li class="breadcrumb-item"><a routerLink="/branches">Branches</a></li>
             <li class="breadcrumb-item"><a routerLink="/contact">Contact Us</a></li>
        </ol>
        
    </div>

    <button type="button" class="btn btn-info" routerLink="/login">
         Log in
      <i class="far fa-user"></i>
      
    </button>
 
</nav>

